.ChartContent {
  background: #ebf5f9;
  /* intended background for .CharContent */
  background-image: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
  display: flex;
  position: relative;
  justify-content: space-around;
  align-content: flex-end;
  border: .5em solid var(--ChartContent-borderColor);
  border-radius: .5em;
}

.ChartContent-barChartContainer {
  position: relative;
  display: flex;
  /* text "selectability on" changes cursor to select cursor in UI on mouseover or drag.  set user-select to none so selectability is off, no cursor change when user drags or mouseover on chart text */
  user-select: none;
}

.ChartContent-barChartContainer.is-baseChart {
  background: rgba(175,100,55,.4);
}

.ChartContent-barChart {
  font-weight: 800;
  width: 7em;
  align-self: flex-end;
  border-radius: .5em .5em 0 0;
  border-color: var(--ChartContent-borderColor);
  border-style: solid;
  border-width: 9px 2px 0px 2px;
  box-shadow: 5px 1px 5px var(--ChartContent-barChart-boxShadowColor);
  /* barChart also a flex container, for controlling the positioning of its text */
  display: flex;
  padding-top: 5%;
  align-items: flex-start;
  justify-content: center;
}

/* style the titles (which are the currency codes) of individual barcharts */

.ChartContent-barChartTitle {
  font-weight: bold;
}

/* u-offset class is added when barchart is too small to contain title text, in this case position absolute allows for good positioning of text slightly outside the chart, and color is changed to black to contrast with the main content background vs the default for charts which is for text to contrast with individual chart's background (which alternates light and dark across the displayed charts) */

.ChartContent-barChartTitle.u-offset {
  position: absolute;
  color: black;
}

/* alternate background on barCharts from light background dark text to dark background light text */

.ChartContent-barChartContainer:nth-of-type(even) .ChartContent-barChart {
  background: var(--ChartContent-barChart--even-backgroundColor);
  color: black;
}

.ChartContent-barChartContainer:nth-of-type(odd) .ChartContent-barChart {
  background: var(--ChartContent-barChart--odd-backgroundColor);
}

.ChartContent-indicateBase {
  position: absolute;
  color: black;
  color: transparent;
  top: 5em;
  left: 60%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  margin: 0 auto;
  text-shadow: 3px 5px 3px black;
  /* opacity: 1;
 */
}

.justOneGuy {
  justify-content: flex-start;
  padding-left: 3.5em;
}

.ChartContent--clearCharts .ChartContent-barChartContainer:not(.is-baseChart) {
  animation: clearCharts 2s normal forwards;
  animation-iteration-count: 1;
}

/* when modal activated on barchart click, activate 'disappearing modal' animation when user mouseoff barchart */

.ChartContent-barChart:not(:hover) .Modal {
  animation: disappearModal 800ms normal forwards;
  animation-iteration-count: 1;
}

/* custom modal instead of alert box, one modal absolute positioned per each ChartContent-container */

.Modal {
  color: var(--Modal-textColor);
  display: none;
  background-color: var(--Modal-backgroundColor);
  /* background: var(--Modal-backgroundColor);background-image: var(--Modal-backgroundColor);
 */
  border-radius: .6em;
  position: absolute;
  left: -55%;
  top: 15em;
  width: 230px;
  height: 110px;
  margin: 0;
  box-: 2px 3px 1px var(--Page-boxShadowColor);
  z-index: 30;
}

/* state of modal = display */

.Modal.is-displayed {/* make modal visible, and use flex to keep text centered consistently across screenwidth changes*/
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
