/******/

/* MAIN PAGE/CONTAINER STyLES */

/* set margins and padding to default 0 and set box-sizing to border-box */

.Configure * {
  font-size: 1em;
}

.Configure {
  font-size: 1em;
  background-image: linear-gradient(to left, #ebf1f6 0%,#abd3ee 20%,#2ec3eb 71%,#d5ebfb 100%);
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
  justify-content: space-between;
  align-content: start;
  padding-bottom: 1em;
}

.Configure-baseForm, .Configure-comparisonsForm {
  display: grid;
}

/* h2 for base and comparison section */

.Configure-baseHeading, .Configure-comparisonHeading {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
  text-transform: uppercase;
  font-size: .9em;
  display: inline-block;
}

.Configure-baseFilter, .Configure-comparisonsFilter {
  max-width: 4em;
}

.Configure-baseFilterLabel, .Configure-comparisonsFilterLabel {
  margin-left: 5%;
  font-weight: bold;
  text-shadow: 1px 2px 1px grey;
}

.Configure-comparisonsSelectBox, .Configure-baseSelectBox {
  margin-top: .8em;
  border: 2px solid black;
  border-radius: 5px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 20em;
  width: 90%;
  justify-self: center;
  list-style-type: none;
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  color: black;
  text-shadow: 1px 1px 1px grey;
}

.Configure-comparisonOption, .Configure-baseOption {
  padding: 3px 0 3px 0;
  border: 1px solid transparent;
  list-style-type: none;
  border-top: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.Configure-baseOption:checked, .Configure-baseOption:hover,
.Configure-comparisonOption:not(.is-selectedComparison):checked {
  color: white !important;
  position: relative;
  box-shadow: 0px 0px 10px 10px #e1358f inset;
  background-color: red;
  font-style: italic;
  background: lightblue;
}

.Configure-comparisonOption.is-selectedComparison {
  background: lightblue;
  background: radial-gradient(hsl(240,85%,80%) 10%, hsl(225,75%,46%) 90%);
  border-top: 1px solid black;
  color: white;
  font-weight: 9;
}

/* hovered options in select list are :checked, if this option is-selectedComparison- which already is specially styled, add a box-shadow so that user still sees a hover change which is distinct from :checked behavior for options which are not is-selectedComparisonhightlight  */

.Configure-comparisonOption.is-selectedComparison:checked {
  box-shadow: 10px 5px 4px 10px grey;
}

.Configure-sbowComparisons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Configure-showConfiguration p:hover, .Configure-baseHeadingValue {
  cursor: help;
}

.Configure-comparisonValue, .Configure-baseValue, .Configure-baseHeadingValue {
  background: linear-gradient(-40deg, grey 0%, black 70%);
  align-self: baseline;
  margin: 2px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0px white,10px 1px 9px white;
  padding: 2px;
}

.Configure-baseListScrollTopIntoView,
.Configure-comparisonsListScrollTopIntoView {
  background: lightsalmon;
  font-size: .8em;
  text-transform: uppercase;
}

.Configure-baseHeadingValue {
  position: absolute;
  display: inline-block;
}

.Configure-baseValue {
  padding: .1em .3em .1em .3em;
}

.Configure-comparisonValue[data-tooltip-title]:hover::after,
.Configure-baseValue[data-tooltip-title]:hover::after,
.Configure-baseHeadingValue:hover::after {
  content: attr(data-tooltip-title);
  position: absolute;
  top: 60%;
  left: 7%;
  background: purple;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  font-size: .8em;
  text-align: left;
  z-index: 10;
  border-radius: 5px;
  padding: .2em 1em;
  box-shadow: -3px -4px 7px grey;
  text-transform: initial;
  text-shadow: initial;
}

.Configure-showCurrentConfigurationContainer, .Configure-clearChartsContainer {
  background: beige;
  border-radius: 5px;
  min-width: 10em;
  width: 22em;
  margin-top: 1.2em;
  margin-left: 5%;
  display: grid;
  align-self: center;
  width: fit-content;
  justify-content: space-between;
}

.Configure-baseHeadingValueAnimate, .Configure-showCurrentConfigurationAnimate p {
  animation: flashConfiguration 4200ms ease-out forwards;
  animation-iteration-count: 1;
}

.Configure-showCurrentConfiguration {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 19em;
  margin: 0 .5em 0 .5em;
}

.Configure-clearChartsButton {
  background: hsl(280,70%,90%);
  padding: 0.5em;
  color: blue;
  font-weight: 9;
  text-shadow: 2px 5px 5px orange, 4px 3px 4px gray;
  border-radius: .6em;
  text-transform: uppercase;
  font-weight: 600;
  border: 3px solid black;
  box-shadow: 10px 15px 20px gray;
}

.Configure-clearChartsButton--pressed {
  animation: pressInClearButton 200ms ease-out 0ms;
  animation-iteration-count: 1;
}
