:root {/*CSS variables for element background, border, default boxShadow colors */
  --Page-backgroundColor: #cddeee;
  --Header-backgroundColor: #38598b;
  --Footer-backgroundColor: rgb(51, 66, 87);
  --ChartContent-barChart--odd-backgroundColor: #9f4b7a;
  --ChartContent-barChart--even-backgroundColor: #aeddcd;
  --Modal-backgroundColor: #28282b;
  --ChartContent-borderColor: black;
  --Page-boxShadowColor: black;
  --ChartContent-barChart-boxShadowColor: grey;
  /* for text colors */
  --Page-textColor: white;
  --Header-textColor: beige;
  --Modal-textColor: white;
  --section-config-height: 9em;
}

.u-bold {
  font-style: bold;
}

* {
  outline: none;
}

/* animations */

@keyframes flashBackground {
  0% {
    background-color: blue ;
  }

  100% {
    background-color: green;
  }
}

@keyframes clearCharts {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flashConfiguration {
  0% {
    background-color: beige ;
  }

  50% {
    background-color: red;
    box-shadow: 1em 1em .3em rgba(200,200,0,.5) ,-1em -1em .3em rgba(255,255,0,.5);
  }

  100% {
    background-color: beige;
  }
}

@keyframes timeFlashHeader {
  0% {
    display: flex;
    background: orange;
  }

  80% {
    opacity: 1;
  }

  100% {
    background: orange;
    opacity: 0;
  }
}

/* rotate modal while shrinking it and throwing a small shadow */

@keyframes disappearModal {
  0% {
    box-shadow: 5px 5px 5px grey;
  }

  100% {
    transform: rotate(380deg);
    height: 7%;
    width: 4%;
    font-size: 3px;
    box-shadow: 15px 15px 15px black;
  }
}

/******/

/* MAIN PAGE/CONTAINER STyLES */

/* set margins and padding to default 0 and set box-sizing to border-box */

*, *:before, *:after, li, select, option, datalist option {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-width: 320px;
}

body {
  max-height: 100vh;
}

.Page {
  background: var(--Page-backgroundColor);
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: var(--Page-textColor);
}

.Page-container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3fr 5fr 25fr 1fr;
}

.Header {
  background: var(--Header-backgroundColor);
  align-items: stretch;
  padding: .3em;
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
}

.Header-title {
  font-weight: 400;
  font-size: 16px;
  color: var(--Header-textColor);
  text-transform: uppercase;
  justify-self: flex-start;
  padding-left: .5em;
  display: flex;
  align-items: center;
}

.Header-flashContainer {
  color: black;
  font-weight: bold;
  display: none;
  padding: 0;
}

.Header-flashMessage {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-radius: 7px;
  justify-items: center;
  align-items: center;
  font-size: 90%;
}

.Header-flashContainer p {
  margin: 0 !important;
  padding: 0 !important;
}

.Header-flashMessage.Header-flashContainer {
  animation: timeFlashHeader 7000ms normal forwards;
  animation-iteration-count: 1;
}

.U-blackText {
  color: black;
}

.Configure * {
  font-size: 1em;
}

.Configure {
  font-size: 1em;
  background-image: linear-gradient(to left, #ebf1f6 0%,#abd3ee 20%,#2ec3eb 71%,#d5ebfb 100%);
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
  justify-content: space-around;
  grid-column-gap: .5em;
  align-content: top;
}

.Configure-comparisonsSelectBox:hover, .Configure-baseSelectBox:hover {
}

.Configure-comparisonsForm {
  display: grid;
}

.Configure-baseFilter, .Configure-comparisonsFilter {
  max-width: 4em;
}

.Configure-clearChartsContainer {
  background: beige;
  display: grid;
  margin-bottom: 1em;
}

.Configure-comparisonsSelectBox, .Configure-baseSelectBox {
  height: 5em;
  border: 2px solid black;
  border-radius: 5px;
  /* overflow-y: scroll;scroll-behavior: smooth;
 */
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 20em;
  list-style-type: none;
  background: lightyellow;
  color: black;
}

.Configure-baseSelectBox, .Configure-baseSelectBox:active,
.Configure-baseOption:active, .Configure-baseOption {
}

.Configure-baseSelectBox:focus .Configure-baseOption:focus {
}

.Configure-baseOption:focus {
}

.Configure-comparisonsSelectBox:hover {
  cursor: default;
}

.Configure-baseSelectBox {
  appearance: none;
}

.Configure-baseSelectBox:focus .Configure-baseOption:checked,
.Configure-baseOption--hovered {/* background: linear-gradient(pink, black);
 */
  color: white !important;
  position: relative;
  box-shadow: 0px 0px 10px 10px #e1358f inset, 9px 7px 5px 2px grey;
  /* background-image: radial-gradient(hsl(240,85%,80%) 10%, hsl(150,75%,46%) 90%) repeat;
 */
  background-color: red;
  font-style: italic;
  background: lightblue;
  /* box-shadow: 9px 7px 15px grey;
 */
}

.Configure-comparisonOption:not(.Configure-selectedComparison):checked,
.Configure-comparisonOption--hovered:not(.Configure-selectedComparison) {
  color: white !important;
  position: relative;
  box-shadow: 0px 0px 10px 10px #e1358f inset, 9px 7px 5px 2px grey;
  /* background-image: radial-gradient(hsl(240,85%,80%) 10%, hsl(150,75%,46%) 90%) repeat;
 */
  background-color: red;
  font-style: italic;
  background: lightblue;
}

.Configure-baseSelectBox:blur .Configure-baseOption:checked,
.COnfigure-baseSelectBox:blur .Configure-baseOption:not(:checked),
.Configure-baseSelectBox:blur .Configure-baseOption:focus, .Configure-baseOption,
.Configure-baseSelectBox:not(:focus) .Configure-baseOption,
.Configure-baseSelectBox .Configure-baseOption:not(:checked) {
  outline: none !important;
  color: black !important;
  position: relative;
  box-shadow: 0 0 10px 9px beige inset !important;
  background: blue !important;
}

/* .Configure-baseOption:hover + .Configure-baseOption:not(:hover) {
  background: linear-gradient(beige, beige);
  color: black !important;
}*/

.Configure-baseForm {
  display: grid;
}

.Configure-comparisonOption, .Configure-baseOption {
  padding: 3px 0 3px 0;
  border: 1px solid transparent;
  list-style-type: none;
  border-top: 1px solid black;
  height: 1.7em;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.Configure-comparisonOption:not(.Configure-selectedComparison):hover {
  background: radial-gradient(hsl(240,85%,80%) 10%, hsl(225,75%,46%) 90%);
  /* background: lightblue;
 */
  box-shadow: 0px 0px 10px 10px #e1358f inset, 9px 7px 5px 2px grey;
  /* box-shadow: 9px 7px 15px grey;
 */
  font-style: italic;
  color: white;
  display: block;
}

.Configure-selectedComparison {
  background: lightblue;
  background: radial-gradient(hsl(240,85%,80%) 10%, hsl(225,75%,46%) 90%);
  border-top: 1px solid black;
  color: white;
  font-weight: bold;
}

.Configure-selectedComparison.u-highlightComparison,
.Configure-selectedComparison:checked {
  box-shadow: 10px 5px 4px 10px grey, 5px 2px 3px gold;
  /* text-shadow: 5px 5px 5px red;
 */
}

.Configure-sbowComparisons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Configure-showConfiguration p:hover, .Configure-headerBaseValue {
  cursor: help;
}

.Configure-comparisonParagraph, .Configure-baseParagraph,
.Configure-headerBaseValue {
  background: white;
  align-self: baseline;
  margin: 2px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  display: inline-block;
}

.Configure-headerBaseValue {
  position: relative;
  display: inline-block;
}

.Configure-baseParagraph {
  padding: .1em .3em .1em .3em;
}

.Configure-comparisonParagraph[data-tooltip-title]:hover::after,
.Configure-baseParagraph[data-tooltip-title]:hover::after,
.Configure-headerBaseValue:hover::after {
  content: attr(data-tooltip-title);
  position: absolute;
  top: 50%;
  left: 7%;
  width: content;
  background: slateblue;
  color: white;
  font-style: bold;
  white-space: nowrap;
  font-size: .8em;
  text-align: left;
  z-index: 10;
  border-radius: 2px;
  padding: .2em 1em;
  box-shadow: -3px -4px 7px grey;
}

.Configure-showConfiguration, .Configure-clearChartsContainer {
  background: beige;
  border-radius: 5px;
  min-width: 10em;
  max-width: 22em;
  margin-top: 1.2em;
  align-self: baseline;
}

.Configure-clearChartsContainer {
  width: fit-content;
  text-align: center;
}

.Configure-headerBaseValueAnimate, .Configure-configurationCurrencyAnimate p {
  animation: flashConfiguration 500ms normal forwards;
  animation-iteration-count: 3;
}

.Configure-showConfiguration {
  display: flex;
  justify-content: space-between;
  padding: 0 15% .5em 0;
  align-self: baseline;
  height: 6.5em;
}

.ChartContent {
  background: #ebf5f9;
  /* intended background for .CharContent */
  background-image: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#2ec3eb 51%,#d5ebfb 100%);
  display: flex;
  position: relative;
  justify-content: space-around;
  align-content: flex-end;
  border: .5em solid var(--ChartContent-borderColor);
}

.ChartContent-barChartContainer {
  position: relative;
  display: flex;
  /* text "selectability on" changes cursor to select cursor in UI on mouseover or drag.  set user-select to none so selectability is off, no cursor change when user drags or mouseover on chart text */
  user-select: none;
}

.ChartContent-barChartContainer.is-forBaseChart {
  background: rgba(175,100,55,.5);
}

.ChartContent-barChart {
  font-weight: 800;
  width: 7em;
  align-self: flex-end;
  border-radius: .5em .5em 0 0;
  border-color: var(--ChartContent-borderColor);
  border-style: solid;
  border-width: 9px 2px 0px 2px;
  box-shadow: 5px 1px 5px var(--ChartContent-barChart-boxShadowColor);
  /* barChart also a flex container, for controlling the positioning of its text */
  display: flex;
  padding-top: 5%;
  align-items: flex-start;
  justify-content: center;
}

/* style the titles (which are the currency codes) of individual barcharts */

.ChartContent-barChartTitle {
  font-style: bold;
}

/* u-offset class is added when barchart is too small to contain title text, in this case position absolute allows for good positioning of text slightly outside the chart, and color is changed to black to contrast with the main content background vs the default for charts which is for text to contrast with individual chart's background (which alternates light and dark across the displayed charts) */

.CharContent-barChartTitle.u-offset {
  position: absolute;
  color: black;
}

/* alternate background on barCharts from light background dark text to dark background light text */

.ChartContent-barChartContainer:nth-of-type(even) .ChartContent-barChart {
  background: var(--ChartContent-barChart--even-backgroundColor);
  color: black;
}

.ChartContent-barChartContainer:nth-of-type(odd) .ChartContent-barChart {
  background: var(--ChartContent-barChart--odd-backgroundColor);
}

.ChartContent-indicateBase {
  position: absolute;
  color: black;
  color: transparent;
  top: 5em;
  left: 60%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  margin: 0 auto;
  text-shadow: 3px 5px 3px black;
  opacity: .5;
}

.ChartContent--clearCharts .ChartContent-barChartContainer {
  animation: clearCharts 2s normal forwards;
  animation-iteration-count: 1;
}

/* when modal activated on barchart click, activate 'disappearing modal' animation when user mouseoff barchart */

.ChartContent-barChart:not(:hover) .Modal {
  animation: disappearModal 800ms normal forwards;
  animation-iteration-count: 1;
}

/* custom modal instead of alert box, one modal absolute positioned per each ChartContent-container */

.Modal {
  color: var(--Modal-textColor);
  display: none;
  background-color: var(--Modal-backgroundColor);
  /* background: var(--Modal-backgroundColor);background-image: var(--Modal-backgroundColor);
 */
  border-radius: .6em;
  position: absolute;
  left: -55%;
  top: 15em;
  width: 230px;
  height: 110px;
  margin: 0;
  box-shadow: 2px 3px 1px var(--Page-boxShadowColor);
  z-index: 30;
}

/* state of modal = display */

.Modal.is-displayed {/* make modal visible, and use flex to keep text centered consistently across screenwidth changes*/
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer {
  padding-left: .5em;
  background: var(--Footer-backgroundColor);
  display: flex;
}

.Footer-copywrite {
  align-self: center;
}

@media only screen and (max-width: 950px) {/*change orientetion of .ChartContent flex items on smaller screens, i.e. vertical to horizontal barCharts */

  .ChartContent-indicateBase {
    position: absolute;
    color: black;
    color: transparent;
    top: 30%;
    left: 60%;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    text-shadow: 3px 5px 3px black;
  }

  .ChartContent {
    flex-direction: column;
    justify-content: space-around;
  }

  .ChartContent-barChartContainer {
    width: 100%;
    height: inherit;
    height: 5em;
  }

  .Configure-showConfiguration {
  }

  .ChartContent-barChart {/* since ChartContent-barCharts have INLINE hardcoded styling of height in html for default vertical charts, use !important to change height for this class in css stylesheet */
    height: 60%;
    justify-self: flex-end;
    align-self: center;
    border-radius: 0 .3em .3em 0;
    border-width: 2px 7px 2px 0px;
    font-size: 95%;
    justify-content: flex-start;
    align-items: center;
    padding-left: .5em;
    padding-top: 0;
  }/*modal is absolutely positioned to ChartContent-container, whose height and width have been changed on small screens*/

  .Modal {
    top: 0;
    left: 10%;
    height: 100%;
    width: 12em;
    align-items: center;
    opacity: 1;
  }/*
   set width of barCharts to height (the originally hardcoded inline value), i.e. for switch from vertical to horizontal charts */
}

/* make acceptably responsive for extremely small-width screen devices */

@media only screen and (max-width:  330px) {
  .ChartContent-barChart {
    height: 70% !important;
    align-items: center;
    font-size: .9em;
    padding-top: 9%;
    padding-bottom: 5%;
  }

  .Footer, .Header-title {
    font-size: 70%;
  }

  .Configure-showConfiguration {
    display: hidden;
  }

  .Header-flashMessage.Header-flashContainer {
    font-size: .4em !important;
  }

  .Configure-showConfiguration {
    display: none;
  }
}
